
* {
    font-family: Roboto;
}
/*HEADER SECTION*/
.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Logo{
    font-weight: bold;
    color: #F9FAF8;
    font-size: 24px;
}

.headlinks a{
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
    margin-right: 20px;
}

/*SUB-SECTION HEADER*/
.diva{
    font-family: Roboto;
    background-color: #1f2937;
    color: white;
    width: 100vw;
}

.awe{
    display: flex;
    padding: 50px;
    flex: 1;
    gap: 40px;
}

.ph{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 150px;
    background-color: #E5E7EB;
    color: #1f2937;
}

.awetxt button{
    align-items: last baseline;
    display: flex;
    border: none;
    border-radius: 5px;
    padding-inline: 20px;
    background-color: #3882f6;
    color: white;
}

.ph p{
    margin: 0;
    padding: 0;
    align-self: baseline;
}

/*RANDOM INFORMATION*/

.divb{
text-align: center;
width: 100vw;
margin-block: 40px;

}

.ills{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.item{
    width:min-content;
}

.item figure{
    border: 2px solid #3882f6;
    border-radius: 10px;
    width: 100px;
    height: 100px;
}

/*QUOTE SECTION*/

.divc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;

    height: auto;
    width: 100vw;
    padding: 100px;
    box-sizing: border-box;
    text-align: center;
}

.thor{
    display: flex;
    align-self: flex-end;
    font-weight: 900;
}

/*CALL ACTION*/

.divd{
    display: flex;
    justify-content: space-around;
    margin: 50px auto;
    padding: 20px;
    align-items: last baseline;

    width: 60vw;
    background-color: #3882f6;
    color: white;
}

.divdb button{
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
    padding-inline: 20px;
    color: white;

}

/**FOOTER**/

footer{
    text-align: center;
    background-color: #1f2937;
    color: white;
    width: 100vw;
    padding: 15px;
}